.h1form {
    color: rgb(85, 8, 8);
    text-align: center;
    font-family: 'Neonderthaw', cursive;
    font-size: 50px;
}

.login-form {
    width: 350px;
    padding: 40px 30px;
    background: #fefeffc9;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    border-radius: 10px;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
    filter: blur(0px);
}

.form-control {
    width: 100%;
    height: 50px;
    border: none;
    padding: 5px 7px 5px 15px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to left, rgba(7, 7, 7, 0.3) 3em, rgba(10, 10, 10, 0.2) 3em)!important;
    color: white;
    border: 2px solid #ddd;
    filter: blur(0px);
    border-radius: 1.25rem!important;
}

.form-control:focus,
.form-control:focus+.fa {
    border-color: #10ce88;
    color: #10ce88;
    background: linear-gradient(to left, rgba(7, 7, 7, 0.3) 3em, rgba(10, 10, 10, 0.2) 3em)!important;
}

.form-group .fa {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #999;
}

.log-status.wrong-entry .form-control,
.wrong-entry .form-control+.fa {
    border-color: #ed1c24;
    color: #ed1c24;
}

.log-btn {
    background: #0ac986;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    border: none;
}

.link {
    text-decoration: none;
    color: #c6c6c6;
    float: right;
    font-size: 12px;
    margin-bottom: 15px;
}

.link:hover {
    text-decoration: underline;
    color: #8c918f;
}

@media only screen and (min-width:290px) and (max-width:400px) {
    .login-form {
        max-width: 410px!important;
    }
}

@media only screen and (min-width:500px) and (max-width:5000px) {
    .login-form {
        min-width: 550px!important;
        max-width: 550px!important;
    }
}