@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    font-family: 'Orbitron', sans-serif;
}

html,
body {
    background: rgb(96, 96, 98);
    background: linear-gradient(180deg, rgba(68, 68, 68) 15%, rgba(99, 49, 49) 45%, rgb(161, 20, 20) 100%);
    background-repeat: no-repeat;
}

a.nav-link {
    transition: all 0.2s!important;
    margin-right: 1.5rem!important;
}

a.nav-link:hover {
    color: red!important;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    transition: all 0.2s!important;
}

.colore-red {
    color: red;
}

.middle-bg {
    background: url(https://www.wavesportsesto.it/sport/wp-content/uploads/2017/08/sfondo-sala-pesi.jpg) black;
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
}