/* Style the form */


/*IN USO QUESTO FOGLIO CSS */

#regForm {
    /*   background: rgb(35,75,203);
  background: linear-gradient(77deg, rgba(35,75,203,0.7791491596638656) 9%, rgba(253,29,29,1) 57%, rgba(252,176,69,1) 100%);
 */
    position: relative;
    margin: 100px auto;
    padding: 40px;
    width: 80%;
    height: 400px;
    min-width: 300px;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 3px 8px 34px 3px rgba(0, 0, 0, 0.68);
    z-index: 1000;
}


/* Style the input fields */

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
}


/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #ffdddd;
}


/* Hide all steps by default: */

.tab {
    display: none;
}


/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}


/* Mark the active step: */

.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #04AA6D;
}